:root {
    --title-color: #322153; /*Definição da variável title-color*/
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5; /* #rrggbb */
}

a {
    text-decoration: none; /*Tira o sublinhado de todos os elementos <a> do projeto */
}

/*  BOX MODEL -> Todos os elementos recebem formato de caixa   
Toda caixa tem largura, altura, espaçamento, preenchimento, borda, cor, fundo, display,
posicionamento, alinhamento. 
Tipos de caixa: 
    Block -> Ocupa a linha inteira
    Inline -> Ocupa o espaço do elemento    */

#page-home {
    height: 100vh; /*vh -> baseado no espaço em branco vertical da página*/
    background: url('../icones/home-background.svg') no-repeat; /*Colocando a imagem como background*/
    background-position: 35vw bottom; /*vw -> baseado no espaço em branco horizontal da página. Bottom -> Junta a margem inferior da imagem ao fim da box*/

}
    
#page-home .content {
    width: 90%; /*Ajusta a largura da caixa baseada na largura da página*/
    max-width: 1100px; /*Limita a largura da caixa*/

    margin: 0 auto; /*Deixa os elementos centralizados, sem margem em cima e em baixo*/
}

#page-home header {
    margin-top: 48px;

    display: flex; /*Disposição de um ao lado do outro*/
    align-items: center; /*Alinhar elementos ao centro do eixo y */
    justify-content: space-between; /*Um em cada canto de uma caixa */
}

#page-home header a{
    display: flex;

    color: var(--title-color);
    font-weight: 700;
    
}

#page-home header a span {

    margin-right: 16px;
    display: flex;

    background-image: url('../icones/log-in.svg');
    
    width: 20px;
    height: 20px;
}

#page-home main {
    max-width: 560px;
}

#page-home main h1 {
    font-size: 54px;
    color: var(--title-color);
}

/* .red {
    color: red; -> Atribui cor ao texto
    background: black; -> Atribui cor ao fundo
} */