@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw; /*A imagem some quando a página tem menos de 900 px*/
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute; /*A box é colocada em uma layer acima das demais*/
        bottom: 48px; /*distância do bottom*/

        left: 50%; /*Começa a contar da esquerda da caixa*/
        transform: translateX(-50%); /*O centro passa a ocupar a posição da borda esquerda*/
    }
    #page-home main{
        align-items: center;
    }

    #page-search .cards{
        grid-template-columns: 1fr;
    }
}
/*Conjunto de regras de coisas que podem ser configuradas(if do css)*/

@media (min-width:1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-height:760px){
    #page-home{
        background-position-y: 200px;
    }
}
