{% extends "layout.html" %}

{% set page_id = "page-search" %}

{% block title %}
    <title>Resultado da pesquisa</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/search.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
    <main>

        {% if totalPoints > 0 %}
            <h4>
                <strong>{{total_points}} pontos</strong>
                encontrados
            </h4>

            <div class="cards">

                {% for place in places %}
                    <div class="card">
                    <img src="{{ place.image }}" alt="{{ place.name }}">
                    <h1>{{place.name}}</h1>
                    <h3>{{place.items}}</h3>
                    <p>
                        {{place.city}}, {{place.state}}
                        <br/>
                        {{place.address}}
                        <br/>
                        {{place.address2}}
                    </p>
                </div>
                {% endfor %}

            </div>

        {%else%}
            <h4>Nenhum local cadastrado</h4>
        {% endif %}


    </main>
{% endblock content %}